    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=recipes.author.username) }}">
                    <img src="{{ recipes.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=recipes.author.username) }}">
                        {{ recipes.author.username }}
                    </a>
                {% endset %}
                <br>
                <span id="recipe{{ recipes.id }}">{{ recipes.body }}</span>
                <br><br>
                {% endif %}
            </td>
        </tr>
    </table>
