.results{
    padding-top: 4%;
}
.navbar {
    min-height: 50px;
}
.navbar-custom {
    background-color: #ffffff;
    color: #ff0000;
    border-color: #0575e6;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
    color: black !important;
}
.search-bar {
    text-align: center;
    padding-left: 45%;
}

.about-me{
    vertical-align: text-top;
}

.username-text{
    padding-left: 2%;
    padding-top: 4%;
}

.grad {
  background-image: url('https://iili.io/JOH0HQ.png');
  height: inherit;
}

.standard-bg{
    background-color: #efefed;
    font-family: arial;
}

.welcome-text {
    text-align: center;
    padding-top: 18%;
}

.barcode-text{
    text-align: center;
    padding-top: 9.5%;
}
.barcode-under-text{
    padding-top: 3%;
}
.home-columns{
    float:left;
    padding-left: 15px;
    width: 33.33%;
}
.popular{
    padding-top: 3%;
}
.popular-columns{
    float:left;
    padding-left: 15px;
    width:50%;
}
.popular-col{
    float:left;
    padding-left: 15px;
    width:25%;

}
.standard-text{
    text-align: center;
}

.help{
    padding-top: 5%;
}

/*.white-text{
    color: white;
}*/

.register-button{
    background-color: #36b232!important;
    padding: 20px 20px;
}

.scanner-button{
    background-color: #2196f3;
}

.recipe-search{
    padding-top: 10%;
    text-align: center;
}

body{
    background-image: url('https://iili.io/JOH0HQ.png');
    font-family: 'Quicksand', sans-serif;
}
