alembic==1.4.2
attrs==19.3.0
Automat==20.2.0
Babel==2.8.0
blinker==1.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
decorator==4.4.2
elasticsearch==7.7.0
Flask==1.1.1
Flask-Babel==1.0.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
hyperlink==19.0.0
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.2
incremental==17.5.0
instagram-scraper==1.9.0
instaloader==4.3
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
Mako==1.1.2
MarkupSafe==1.1.1
moviepy==1.0.3
numpy==1.18.4
parsel==1.6.0
Pillow==7.1.2
proglog==0.1.9
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
PyJWT==2.4.0
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
pytz==2020.1
queuelib==1.5.0
requests==2.23.0
service-identity==18.1.0
six==1.14.0
SQLAlchemy==1.3.16
tqdm==4.46.0
urllib3==1.25.8
w3lib==1.22.0
Werkzeug==1.0.0
WTForms==2.2.1
zope.interface==5.1.0
