.navbar-custom {
    background-color: #2d545e;
    color: #ffffff;
    border-color: #2d545e;
}

#grad {
  background-image: linear-gradient(to right, #00f260 , #0575e6);
}

.welcome-text {
    text-align: center;
    padding-top: 18%;
}

.white-text{
    color: white;
}

.register-button{
    background-color: #9f32b2!important;
    padding: 20px 20px;
}
