{% extends "layout.html" %}
{% block style %}
grad
{% endblock style %}
{% block content %}
<div class="container-fluid welcome-text white-text grad">
    <h1>Ingredients You Own, Recipes You'll Love</h1>
    <h3>Professional and User-Submitted<br>
        Recipes to Fit Any Diet
    </h3>
    <br>
    <a href="{{url_for('registration')}}" class="btn btn-primary btn-lg active register-button" role="button" aria-pressed="true">Create Your Account Today!</a>
    <h3> OR </h3>
    <a href="{{url_for('login')}}" class="btn btn-primary btn-lg active register-button" role="button" aria-pressed="true">Go to My Account Now!</a>
</div>
{% endblock content %}
