{% extends "layout.html" %}
{% block content %}
<div class="container-fluid popular">
    <div class="row">
        <div class="popular-columns">
            <h5>Column 1</h5>
            <div class="row">
                <div class="popular-col">
                    <h5>Column 1</h5>
                    <p>Content</p>
                <div class="popular-col">
                    <h5>Column 2</h5>
                    <p>Content</p>
                </div>
                </div>
        </div>
    </div>
        <div class="popular-columns">
            <h5>Column 2</h5>
            <p>Content</p>
        </div>
    </div>
</div>
{% endblock content %}
