{% extends "layout.html" %}

{% block content %}

<div class="recipe-search">
    <h1> Add an Ingredient! </h1>
    <form action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.ingredient.label }} <br> 
            {{ form.ingredient(size=32) }}<br>
            {% for error in form.ingredient.errors%}
            <span style = "color: red;"></span>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{ form.submit() }} </p>
    </form>
</div>

{% endblock %}