<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://localhost:5000/static/base.css">
    {% if title %}
    <title>Virtual Fridge - {{ title }}</title>
    {% else %}
    <title>Virtual Fridge</title>
    {% endif %}


</head>
<body class="standard-bg {% block style %} {% endblock style %}">
    <header>
    <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top">
        <div class ="container-fluid">
            <a class="navbar-brand" href="#">Virtual Fridge</a>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a href="{{ url_for('main.myfridge') }}">My Fridge</a></li>
                <li><a href="{{ url_for('main.recipe_search') }}">Search</a></li>
                <li><a href="{{ url_for('main.submit') }}">Submit</a></li>
                <li><a href="{{ url_for('main.popular') }}">Popular</a></li>
                <li><a href="{{ url_for('main.help') }}">Help</a></li>
            </ul>
            {% if current_user.is_anonymous %}
                <ul class ="nav navbar-nav navbar-right">
                    <li> <a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login </a> </li>
                </ul>
            {% else %}
                <ul class ="nav navbar-nav navbar-right">
                    <li> <a href="{{ url_for('main.user', username=current_user.username) }}"><span class="glyphicon glyphicon-user"></span> {{ current_user.username }} </a> </li>
                    <li> <a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span>Logout</a> </li>
                </ul>
            {% endif %}
  </div>
</nav>
</header>
{% block content %}
{% endblock content %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
