{% extends "layout.html" %}
{% block content %}

<body style="font-family: 'Quicksand', sans-serif;">
<div class="container-fluid">
    <br> 
    <br>
    <br>
    <h2>Navigation Bar Functions</h2>
    <p>

    </p>
    <h3>My Fridge</h3>
    <p>
        With this page, you can add and remove ingredients to your Virtual Fridge.
    </p>
    <h3>Search</h3>
    <p>
        Have a particular recipe in mind? <br>
        On this page, you can search for a recipe that not only interests you, but is something that you can make with the ingredients you have.
    </p>
    <h3>Submit</h3>
    <p>
        Have a recipe you want to share? <br>
        On this page, you can create a new recipe to share with all of our users<br>
        <b> How to add a recipe: </b>
        <ol> 
            <li> Input the title, instructions, special diet (if there is any), and spice level (on a scale of 1-5 with 5 being the spiciest). </li>
            <li> Click the add ingredients button. </li>
            <li> Add as many ingredients necessary. </li>
            <li> Click done! </li> 
        </ol>   
    </p>
    <h3>Popular</h3>
    <p>
        This page shows the most popular recipes that our users have viewed. 
    </p>
    <h3>Profile Page</h3>
    <p>
        This page is your profile page and allows you to tell people more about yourself. You can change your username and even add your preferred diet!
    </p>
</div>
<center> <h4 style="position:fixed;bottom:0;width:100%; display:block;"> If you have any comments, concerns, or suggestions, email us at virtualfridge4@gmail.com. Responses usually come within one business day.</h4> </center>
</body>

{% endblock content %}
