{% extends "layout.html" %}
{% block content %}

<body style="font-family: 'Quicksand', sans-serif;">
<div class="container-fluid">
    <br> 
    <br>
    <br>
    <h2>What Each Button Does</h2>
    <p>

    </p>
    <h3>My Fridge</h3>
    <p>
        With this page, you can add a food to the food that you currently own. Use the serach option to serach for your food and add it to your account.
    </p>
    <h3>Search</h3>
    <p>
        Have a particular recipe your interested in? <br>
        On this page, search for a recipe that interests you!
    </p>
    <h3>Submit</h3>
    <p>
        Have a recipe you want to share to the world? <br>
        On this page, you can create a new recipe so that everyone can see! <br>
        <b> How to add a recipe: </b>
        <ol> 
            <li> Input the title, steps, special diet (if there is any), and spice level (on a scale of 1-5 with 5 being the spiciest). </li>
            <li> Click the add ingredients button. </li>
            <li> Add as many ingredients necessary. </li>
            <li> Click done! </li> 
        </ol>   
    </p>
    <h3>Popular</h3>
    <p>
        This page shows the most popular recipes that users viewed. 
    </p>
    <h3>Profile Page</h3>
    <p>
        This page is your profile and allows you to tell people about yourself. You can change your username, add your preferred diet, and write about yoursrlf!
    </p>
</div>
<center> <h4 style="position:fixed;bottom:0;width:100%; display:block;"> If you have any comments, concerns, or suggestions, email us at virtualfridge4@gmail.com and we will respond to you in a snap.</h4> </center>
</body>

{% endblock content %}
