{% extends "layout.html" %}
{% block content %}
<div class="container-fluid barcode-text">
    <h2>Bought Some New Items?</h2>
    <h4 style="text-align: center">Scan them in with our barcode<br>scanner.</h4>
    <a href="#" class="btn btn-primary btn-lg active scanner-button" role="button" aria-pressed="true">Go to Scanner</a>
</div>
<div class="container-fluid barcode-under-text">
    <h4>New Recipes</h4>
    <div class="row">
        <div class="home-columns">
           <h2>Column 1</h2>
          <p>Some text..</p>
        </div>
        <div class="home-columns">
            <h2>Column 2</h2>
            <p>Some text..</p>
        </div>
        <div class="home-columns">
            <h2>Column 3</h2>
            <p>Some text..</p>
        </div>
    </div>
</div>
{% endblock content %}
