{% extends "layout.html" %}

{% block content %}
<div>
    <h2 class="recipe-search">Ingredient Search</h2>
    {% if g.search_form %}
    <form class="navbar-form navbar-left search-bar" method="get"
            action="{{ url_for('main.addyouringredients') }}">
        <div class="form-group">
            {{ g.search_form.q(size=20, class='form-control',
                    placeholder=g.search_form.q.label.text) }}
        </div>
    </form>
    {% endif %}
    <h2>My Items</h2>
    {% for fridges in current_user.fridge %}
        {% for ingredients in fridges.currentingredients %}
            <table class="table table-hover">
                <tr>
                    <td>
                        <span id="fridges{{ fridges.id }}">
                            {{ ingredients.knownIngredients }}
                            <a href="{{ url_for('main.addquantity', fridgesid = fridges.id) }}"><input type="button" value="Add"></a>
                            <a href="{{ url_for('main.removequantity', fridgesid = fridges.id) }}"><input type="button" value="Remove"></a>
                            <br>
                            {{ fridges.quantity }}
                        </span>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endfor %}
</div>


{% endblock %}
