   <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=recipes.author.username) }}">{{ recipes.author.username }}</a>
                <a href="{{ url_for('main.user', username=recipes.author.username) }}">
                    <img src="{{ recipes.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=recipes.author.username) }}">
                        {{ recipes.author.username }}
                    </a>
                {% endset %}
                <br>
                <span id="recipes{{ recipes.id }}">
                    <a href = "{{ url_for('main.recipe', recipeid = recipes.id) }}">{{ recipes.title }}</a> <br>
                    {% for recipeingredients in recipes.ingredientsinrecipe %}
                        {% for ingredients in recipeingredients.usedingredients %}
                            {{ recipeingredients.quantity }} {{ recipeingredients.units }} {{ ingredients.knownIngredients }}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </span>
                    <a href="{{ url_for('main.removerecipe', recipesid = recipes.id) }}"><input type="button" value="Remove"></a>
                <br><br>
            </td>
        </tr>
    </table>

