{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <br> 
    <br>
    <br>
    <h2>What Each Button Does</h2>
    <h3>My Fridge</h3>
    <h3>Search</h3>
    <h3>Submit</h3>
    <p>
        Have a recipe you want to share to the world? <br>
        On this page, you can create a new recipe so that everyone can see!
    </p>
    <h3>Popular</h3>
    <h3>Profile Page</h3>
    <p>
        This page is your profile and allows you to tell people about yourself. You can change your username, add your preferred diet, and write about yoursrlf!
    </p>
</div>
{% endblock content %}
